@import "tailwindcss";

/* @font-face {
    font-family: "Gilroy-Light";
    src: url("./Assets/Fonts/Gilroy.ttf") format("truetype");
}

* {
    font-family: "Gilroy-Light", sans-serif;
    font-weight: 100;
} */